<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
      <thead >
        <tr>
          <th scope="col">Project ID</th>
          <th scope="col">Client ID</th>
          <th scope="col">Consultant ID</th>
          <th scope="col">Conference Type</th>
          <th scope="col">Selected Duration</th>
          <th scope="col">Amount</th>
          


        </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor= "let pro of project">
            <td>{{pro.key}}</td>
            <td>{{pro.cliID}}</td>
            <td>{{pro.conID}}</td>
            <td>{{pro.confType}}</td>
            <td>{{pro.selectedDuration}}</td>
            <td>{{pro.amount}}</td>

        </tr>-->

        <tr>
          <td>purple</td>
        </tr>

        <tr>
          <td>red</td>
        </tr>

        <tr>
          <td>purple</td>
        </tr>

        <tr>
          <td>red</td>
        </tr>

        <tr>
          <td>purple</td>
        </tr>

        <tr>
          <td>red</td>
        </tr>
      </tbody>
    </table>
  
  </div>
