<div class="container">
    <div class="row">
      <div class="card">
        <img src="http://placehold.it/200x150">
        <ul class="card-text">

            <li>Name</li>
            <li>Profession</li>
            <li>Category(sub category)</li>
            <li>Mobile No</li>
            <li>Email</li>

        </ul>
        

        
       <!-- <p class="card-text"> 
            Name
        </p>
        <p class="card-text">
            Profession
        </p>

        <p class="card-text">
            Category(sub category)
        </p>

        <p class="card-text">
            Mobile No
        </p>

        <p class="card-text">
            Email
        </p>-->




           <!-- <ul>
                <li>Name</li>
                <li>Profession</li>
                <li>Category(sub category)</li>
                <li>Mobile No</li>
                <li>Email</li>
            </ul>-->
        
      </div>
      <div class="card">
        <img src="http://placehold.it/200x150">
        <p class="card-text"></p>
      </div>
       <div class="card">
        <img src="http://placehold.it/200x150">
        <p class="card-text"></p>
      </div>
       <div class="card">
        <img src="http://placehold.it/200x150">
        <p class="card-text"></p>
      </div>
  
    </div>
  </div>